.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: rgb(108, 75, 255);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}
.title-header{
    color: white;
    font-family: Poppins, Arial;
}
.maps-button{
    background-color: white;
    border: 2px white solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
.maps-button:hover{
    background-color: rgb(108, 75, 255);
    color: white;
}

@media (max-width: 2000px){
    .header{
        height: 72px;
    }
    .title-header{
        margin-left: 16px;
        font-size: 24px;
    }
    .maps-button{
        margin-right: 16px;
        padding: 16px 60px 16px 60px;
    }
}
@media(min-width: 2000.1px){
    .header{
        height: 144px;
    }
    .title-header{
        margin-left: 32px;
        font-size: 32px;
    }
    .maps-button{
        margin-right: 32px;
        padding: 32px 90px 32px 90px;
    }
}
